@model NewsletterApp.Models.ViewModels.NewsLettersListVm

@{
    ViewBag.Title = "NewsLetters";
    Layout = "_Layout";
}

<h2>News Letter List</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <a class="btn btn-success" href="@Url.Action("Create","NewsLetter")">Create news letter</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-striped text-center">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.NewsLetterDtos)
                {
                    <tr>
                        <td><a href="@Url.Action("Index", "NewsContent", new { id = item.Id })">@item.Name</a></td>
                        <td><a class="btn btn-warning" href="@Url.Action("Edit", "NewsLetter", new { id = item.Id })">Edit</a></td>
                        <td><a class="btn btn-danger" href="@Url.Action("Delete", "NewsLetter", new { id = item.Id })">Delete</a></td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
